@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&amp;family=Lato&amp;display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    
}

html{
    scroll-behavior: smooth;
}

body {
    background-image: url('alexis.jpg');
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));

}

.logo_icon{
    margin-bottom: -3%;
    width: 9%;
    height: auto;
}
.Logo {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
}

.navmenu {
    display: flex;
}

.navmenu a {
    display: inline-block;
    margin: 0 1.5rem;
    color: #ffffff;
    font-weight: 500;
    transition: all 0.6s;
}

.navmenu a:hover {
    transform: translateY(-8px);
    text-decoration: underline;
    text-decoration-color: rgb(250, 248, 248);
    text-decoration-thickness: 15%;
}

.home {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 2rem 5rem 0 10rem;
    gap: 1rem;
}

.home-img img {
    width: 50%;
    height: auto;
    margin-left: 10rem;
    border-radius: 50%;
}

.home-text h2 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}



.home-text h3 {
    color: #FFEEAC;
    position: relative;
    padding-left: 2rem;
    font-weight: 1000;
    margin-bottom: 1rem;
    font-size: 30px;
}



.home-text p {
    margin-bottom: 2rem;
    color: #DEC56A;
}

.name{
    color: white;

}

.btn {
    display: inline-block;
    width: fit-content;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #f7f7f2;
    border: 1px solid #1e1e24;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    background: #1e1e24;
    transition: all 0.5s;
}

.btn:hover {
    background: #f7f7f2;
    color: #1e1e24;
    transform: translateY(5px);
}

